**/.toolstarget
**/.vs
**/.vscode
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/compose.y*ml
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Keep these files
!package.json
!package-lock.json

# Ignore node_modules but keep package management files
node_modules/
npm-debug.log
